* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #001A26;
    color: white !important;
    font-family: 'Lexend Deca', sans-serif;
}

.navbar-nav .nav-link {
    margin-right: 25px;
    margin-left: 25px;
}